* {box-sizing:border-box;}
/*local or web(@import) 글꼴 작성위치*/
/* reset.css */
html,body,
p,blockquote,address,
span,strong,em,i,q,sub,sup,del,s,a,img,
div,header,nav,aside,main,footer,
article,figure,figcaption,section,video,
table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,
form,fieldset,legend,input,select,option,button,label,textarea {
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal;
    text-decoration:none;
}
th {text-align:left;}
/*table,tr,th,td {border-collapse:collapse; border:1px solid #000;}*/
ul,ol,li {list-style:none;}
a {color:#000;}
input {outline:none; /*border:0;*/}
