<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>MemberJoinProc</display-name>
    <servlet-name>MemberJoinProc</servlet-name>
    <servlet-class>control.MemberJoinProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoinProc</servlet-name>
    <url-pattern>/MemberJoinProc</url-pattern>
  </servlet-mapping>
  <display-name>LivingnTree_SeungJun</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LivProductListProc</display-name>
    <servlet-name>LivProductListProc</servlet-name>
    <servlet-class>control.LivProductListProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivProductListProc</servlet-name>
    <url-pattern>/LivProductListProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberJoinDone</display-name>
    <servlet-name>MemberJoinDone</servlet-name>
    <servlet-class>control.MemberJoinDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberJoinDone</servlet-name>
    <url-pattern>/MemberJoinDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLoginProc</display-name>
    <servlet-name>MemberLoginProc</servlet-name>
    <servlet-class>control.MemberLoginProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLoginProc</servlet-name>
    <url-pattern>/MemberLoginProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberLogoutProc</display-name>
    <servlet-name>MemberLogoutProc</servlet-name>
    <servlet-class>control.MemberLogoutProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberLogoutProc</servlet-name>
    <url-pattern>/MemberLogoutProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFindIdProc</display-name>
    <servlet-name>MemberFindIdProc</servlet-name>
    <servlet-class>control.MemberFindIdProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFindIdProc</servlet-name>
    <url-pattern>/MemberFindIdProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFindPwProc</display-name>
    <servlet-name>MemberFindPwProc</servlet-name>
    <servlet-class>control.MemberFindPwProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFindPwProc</servlet-name>
    <url-pattern>/MemberFindPwProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFindPwqProc</display-name>
    <servlet-name>MemberFindPwqProc</servlet-name>
    <servlet-class>control.MemberFindPwqProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFindPwqProc</servlet-name>
    <url-pattern>/MemberFindPwqProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFindPwqTemp</display-name>
    <servlet-name>MemberFindPwqTemp</servlet-name>
    <servlet-class>control.MemberFindPwqTemp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFindPwqTemp</servlet-name>
    <url-pattern>/MemberFindPwqTemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfo</display-name>
    <servlet-name>ProductInfo</servlet-name>
    <servlet-class>control.ProductInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfo</servlet-name>
    <url-pattern>/ProductInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartProc</display-name>
    <servlet-name>CartProc</servlet-name>
    <servlet-class>control.CartProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartProc</servlet-name>
    <url-pattern>/CartProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartDelete</display-name>
    <servlet-name>CartDelete</servlet-name>
    <servlet-class>control.CartDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartDelete</servlet-name>
    <url-pattern>/CartDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartUpdate</display-name>
    <servlet-name>CartUpdate</servlet-name>
    <servlet-class>control.CartUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartUpdate</servlet-name>
    <url-pattern>/CartUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartOrderPro</display-name>
    <servlet-name>CartOrderPro</servlet-name>
    <servlet-class>control.CartOrderPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartOrderPro</servlet-name>
    <url-pattern>/CartOrderPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyShop</display-name>
    <servlet-name>MyShop</servlet-name>
    <servlet-class>control.MyShop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyShop</servlet-name>
    <url-pattern>/MyShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartOrderDone</display-name>
    <servlet-name>CartOrderDone</servlet-name>
    <servlet-class>control.CartOrderDone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartOrderDone</servlet-name>
    <url-pattern>/CartOrderDone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyShipAddr</display-name>
    <servlet-name>MyShipAddr</servlet-name>
    <servlet-class>control.MyShipAddr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyShipAddr</servlet-name>
    <url-pattern>/MyShipAddr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderDelete</display-name>
    <servlet-name>OrderDelete</servlet-name>
    <servlet-class>control.OrderDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDelete</servlet-name>
    <url-pattern>/OrderDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardList</display-name>
    <servlet-name>ReviewBoardList</servlet-name>
    <servlet-class>control.ReviewBoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardList</servlet-name>
    <url-pattern>/ReviewBoardList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardInfo</display-name>
    <servlet-name>ReviewBoardInfo</servlet-name>
    <servlet-class>control.ReviewBoardInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardInfo</servlet-name>
    <url-pattern>/ReviewBoardInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardWriteProc</display-name>
    <servlet-name>ReviewBoardWriteProc</servlet-name>
    <servlet-class>control.ReviewBoardWriteProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardWriteProc</servlet-name>
    <url-pattern>/ReviewBoardWriteProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardUpdate</display-name>
    <servlet-name>ReviewBoardUpdate</servlet-name>
    <servlet-class>control.ReviewBoardUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardUpdate</servlet-name>
    <url-pattern>/ReviewBoardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardUpdateProc</display-name>
    <servlet-name>ReviewBoardUpdateProc</servlet-name>
    <servlet-class>control.ReviewBoardUpdateProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardUpdateProc</servlet-name>
    <url-pattern>/ReviewBoardUpdateProc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardDelete</display-name>
    <servlet-name>ReviewBoardDelete</servlet-name>
    <servlet-class>control.ReviewBoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardDelete</servlet-name>
    <url-pattern>/ReviewBoardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewBoardDeleteProc</display-name>
    <servlet-name>ReviewBoardDeleteProc</servlet-name>
    <servlet-class>control.ReviewBoardDeleteProc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewBoardDeleteProc</servlet-name>
    <url-pattern>/ReviewBoardDeleteProc</url-pattern>
  </servlet-mapping>
</web-app>